<div class="container col-md-offset">


<div class="row col-md-6">
  <div class="legend"><legend>Sign Up</legend></div>
    <%= form_for(:user,url: register_users_path) do |f| %>
        <% if @user.errors.any? %>
            <div class="alert alert-danger">
              <button class="glyphicon glyphicon-alert" role="button" data-dismiss="alert" aria-expanded="false">
                &times;
              </button>
              <h3 class="h3">
                <%=pluralize(@user.errors.count,"errors") %>
                &nbsp; has prevented your registration.
              </h3>
              <ul>
                <%=@user.errors.messages do |message| %>
                    <li><%=message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>
        <div class="form-group-md-5">
          <%= f.label :email %>
          <%= f.text_field :email ,{'class'=>'form-control'}%>
        </div>
        <div class="form-group-md-5">
          <%= f.label :password %>
          <%= f.password_field :password ,{'class'=>'form-control'}%>
        </div>
        <div class="form-group-md-5">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation ,{'class'=>'form-control'}%>
        </div>
        <span class="dl-horizontal"></span>
        <div class="form-group">
          <%= f.submit :register ,{'class'=>'btn btn-lg btn-warning'} %>
        </div>
    <% end %>
  </div>
</div>